*{
	margin: 0px;
	padding: 0px;
}

body{
	font-family: 'Comfortaa', sans-serif;
	font-weight: 400;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	min-width: 100%;
}
@keyframes fadeIn{
	0%{
		opacity: 0%;
	}
	100%{
		opacity: 100%;
	}
}
p{
	margin-bottom: 0 !important;
}
.textshadow{
	text-shadow: -3px 3px black;
}
.typeCabin{
	font-family: 'Cabin Sketch', cursive;
	color: #f2baba;
}
.bgWood{
	background-image: url('../media/madera1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.bl{
	border-left: $border2px;
}
.br{
	border-right: $border2px;
}
.bt{
	border-top: $border2px;
}
.bb{
	border-bottom: $border2px;
}

/*Header*/

.navbar-expand-lg .navbar-collapse{
	justify-content: right !important;
	padding-right: 510px !important;
	font-size: 22px !important;
}
.navbar-light .navbar-nav .nav-link{
	color: #252a30;
}
.navbar-brand{
	margin-right: 0px;
	transition: all 250ms;
		&:hover{
		transform: scale(1.05);
		}
}

nav{
	padding-left: 100px !important;
		a img{
			max-width: 110px;
		}
		ul li{
			transition: all 250ms;
			&:hover{
				transform: scale(1.1);
			}
			a{
				transition: all 250ms;
				&:hover{
					color: white !important;
				}
			}
		}

}

/**/
/*Main*/

#main{
	flex-grow: 1;
	min-height: 100vh;
}

.container-fluid{
	padding: 0px;
}

main div a img{
	transition: all 250ms;
		&:hover{
			transform: scale(1.05);
		}
}

.noticias{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	min-height: 300px;
		.content{
		font-size: 18px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 20px;
		box-sizing: border-box;
		}
		.noticia__texto{
			font-size: 20px;
			&.noticia__texto--title{
				font-size: 24px;
				font-weight: 700;
			}
			&.noticia__texto--text{
				font-size: 16px;
				font-weight: 300;
			}
		}
		.deco__imagen{
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			&.deco__imagen--img1{
				background-image: url('../media/bar.jpg');
			}
			&.deco__imagen--img2{
				background-image: url('../media/beer.jpg');
			}
		}
}

.contenedor{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	background-image: url('../media/madera1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 600px;
	margin: 60px;
	border: $border2px;
		.titulo{
		color: #EC4444;
		font-weight: 700;
		padding: 50px;
		font-size: 75px;
		text-align: center; 
		animation-name: fadeIn;
		animation-duration: 2s;
		animation-delay: 0s;
		}
		.nosotros__texto{
			font-size: 20px;
			&.nosotros__texto--title{
				font-size: 25px;
				padding-left: 10%;
				font-weight: 700;
				color: #e33030;
				text-decoration: underline;
			}
			&.nosotros__texto--text{
				font-size: 18px;
				padding-left: 10%;
				padding-right: 10%;
				padding: 0 10% 20px 10%;
			}
		}
		.localesGrid{
			.locales__texto{
				font-size: 20px;
				&.locales__texto--title{
					font-size: 40px;
				}
				&.locales__texto--text{
					font-size: 15px;
				}
			}
		}
}
.contenedorImg{
	display: flex;
	max-width: 100%;
	justify-content: center;
		img{
			height: 100%;
			border: $border2px;
		}
}


/*Grid Menu*/
.seleccionMenuGrid{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(1, 1fr);
	min-height: 65px;
	margin: -15px 50px 0px 50px;
	background-color: #a45d5d;
	border: $border2px;
	border-radius: 10px;
	justify-items: center;
	align-items: center;
	a{
		color: #252a30;
		text-decoration: none;
		transition: all 250ms;
		&:hover{
			transform: scale(1.1);
			color: white;
		}
	}
}
.menuGrid15rows{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(15, 10fr);
	grid-row-gap: 0px;
	grid-column-gap: 60px;
	height: 200vh;
	padding: 60px 60px 0px 60px;
	margin: 45px 50px 50px 50px;
	background-color: #a45d5d;
	border: $border2px;
	border-radius: 10px;
	.menu__img{
		background-position: center;
		background-repeat: no-repeat;
		margin: -15px;
		border: $border2px;
		transition: all 100ms;
		&:hover{
			transform: scale(1.01);
		}
		&.menu__img--burger1{
			grid-column-start: 1;
			grid-column-end: 2;
			grid-row-start: 1;
			grid-row-end: 5;
			background-image: url(../media/burgerCheddar.jpg);
		}
		&.menu__img--burger2{
			grid-column-start: 2;
			grid-column-end: 3;
			grid-row-start: 1;
			grid-row-end: 5;
			background-image: url(../media/burgerAmericana.jpg);
		}
		&.menu__img--burger3{
			grid-column-start: 1;
			grid-column-end: 2;
			grid-row-start: 6;
			grid-row-end: 10;
			background-image: url(../media/burgerJamon.jpg);
		}
		&.menu__img--burger4{
			grid-column-start: 2;
			grid-column-end: 3;
			grid-row-start: 6;
			grid-row-end: 10;
			background-image: url(../media/burgerBanada.jpg);
		}
		&.menu__img--burger5{
			grid-column-start: 1;
			grid-column-end: 2;
			grid-row-start: 11;
			grid-row-end: 15;
			background-image: url(../media/burgerCriolla.jpg);
		}
		&.menu__img--burger6{
			grid-column-start: 2;
			grid-column-end: 3;
			grid-row-start: 11;
			grid-row-end: 15;
			background-image: url(../media/burgerVeggie.jpg);
		}
		&.menu__img--bebida1{
			grid-column-start: 1;
			grid-column-end: 2;
			grid-row-start: 1;
			grid-row-end: 5;
			background-image: url(../media/pepsi.jpg);
		}
		&.menu__img--bebida2{
			grid-column-start: 2;
			grid-column-end: 3;
			grid-row-start: 1;
			grid-row-end: 5;
			background-image: url(../media/sprite.jpg);
		}
		&.menu__img--bebida3{
			grid-column-start: 1;
			grid-column-end: 2;
			grid-row-start: 6;
			grid-row-end: 10;
			background-image: url(../media/fanta.jpg);
		}
		&.menu__img--bebida4{
			grid-column-start: 2;
			grid-column-end: 3;
			grid-row-start: 6;
			grid-row-end: 10;
			background-image: url(../media/toros.jpg);
		}
		&.menu__img--bebida5{
			grid-column-start: 1;
			grid-column-end: 2;
			grid-row-start: 11;
			grid-row-end: 15;
			background-image: url(../media/aguagas.jpg);
		}
		&.menu__img--bebida6{
			grid-column-start: 2;
			grid-column-end: 3;
			grid-row-start: 11;
			grid-row-end: 15;
			background-image: url(../media/aquarius.jpg);
		}
		&.menu__img--beer1{
			grid-column-start: 1;
			grid-column-end: 2;
			grid-row-start: 1;
			grid-row-end: 5;
			background-image: url(../media/honey.jpg);
		}
		&.menu__img--beer2{
			grid-column-start: 2;
			grid-column-end: 3;
			grid-row-start: 1;
			grid-row-end: 5;
			background-image: url(../media/golden.jpg);
		}
		&.menu__img--beer3{
			grid-column-start: 1;
			grid-column-end: 2;
			grid-row-start: 6;
			grid-row-end: 10;
			background-image: url(../media/ipa.jpg);
		}
		&.menu__img--beer4{
			grid-column-start: 2;
			grid-column-end: 3;
			grid-row-start: 6;
			grid-row-end: 10;
			background-image: url(../media/apa.jpg);
		}
		&.menu__img--beer5{
			grid-column-start: 1;
			grid-column-end: 2;
			grid-row-start: 11;
			grid-row-end: 15;
			background-image: url(../media/stout.jpg);
		}
		&.menu__img--beer6{
			grid-column-start: 2;
			grid-column-end: 3;
			grid-row-start: 11;
			grid-row-end: 15;
			background-image: url(../media/redirish.jpg);
		}

	}
	.menu__nombre{
		display: flex;
		justify-content: center;
		align-items: center;
		padding-bottom: 15px;
		font-size: 20px;
		&.menu__nombre--burger1{
			grid-column-start: 1;
			grid-column-end: 2;
			grid-row-start: 5;
			grid-row-end: 6;
		}
		&.menu__nombre--burger2{
			grid-column-start: 2;
			grid-column-end: 3;
			grid-row-start: 5;
			grid-row-end: 6;
		}
		&.menu__nombre--burger3{
			grid-column-start: 1;
			grid-column-end: 2;
			grid-row-start: 10;
			grid-row-end: 11;
		}
		&.menu__nombre--burger4{
			grid-column-start: 2;
			grid-column-end: 3;
			grid-row-start: 10;
			grid-row-end: 11;
		}
		&.menu__nombre--burger5{
			grid-column-start: 1;
			grid-column-end: 2;
			grid-row-start: 15;
			grid-row-end: 16;
		}
		&.menu__nombre--burger6{
			grid-column-start: 2;
			grid-column-end: 3;
			grid-row-start: 15;
			grid-row-end: 16;
		}
	}
}
.menuGrid10rows{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(10, 1fr);
	grid-row-gap: 0px;
	grid-column-gap: 60px;
	height: 155vh;
	padding: 60px 60px 0px 60px;
	margin: 45px 50px 50px 50px;
	background-color: #a45d5d;
	border: $border2px;
	border-radius: 10px;
	.menu__img{
		background-position: center;
		background-repeat: no-repeat;
		margin: -15px;
		border: $border2px;
		transition: all 100ms;
		&:hover{
			transform: scale(1.01);
		}
		&.menu__img--acomp1{
			grid-column-start: 1;
			grid-column-end: 2;
			grid-row-start: 1;
			grid-row-end: 5;
			background-image: url(../media/papas.jpg);
		}
		&.menu__img--acomp2{
			grid-column-start: 2;
			grid-column-end: 3;
			grid-row-start: 1;
			grid-row-end: 5;
			background-image: url(../media/papasCheddar.jpg);
		}
		&.menu__img--acomp3{
			grid-column-start: 1;
			grid-column-end: 2;
			grid-row-start: 6;
			grid-row-end: 10;
			background-image: url(../media/aros.jpg);
		}
		&.menu__img--acomp4{
			grid-column-start: 2;
			grid-column-end: 3;
			grid-row-start: 6;
			grid-row-end: 10;
			background-image: url(../media/nuggets.jpg);
		}
	}
	.menu__nombre{
		display: flex;
		justify-content: center;
		align-items: center;
		padding-bottom: 15px;
		font-size: 20px;
		&.menu__nombre--acomp1{
			grid-column-start: 1;
			grid-column-end: 2;
			grid-row-start: 5;
			grid-row-end: 6;
		}
		&.menu__nombre--acomp2{
			grid-column-start: 2;
			grid-column-end: 3;
			grid-row-start: 5;
			grid-row-end: 6;
		}
		&.menu__nombre--acomp3{
			grid-column-start: 1;
			grid-column-end: 2;
			grid-row-start: 10;
			grid-row-end: 11;
		}
		&.menu__nombre--acomp4{
			grid-column-start: 2;
			grid-column-end: 3;
			grid-row-start: 10;
			grid-row-end: 11;
		}
	}
}


/**/


/*Grid Locales*/
.localesGrid{
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(5, 2fr);
	min-height: 400px;
	padding: 0px 50px 50px 50px;
	text-align: center;
	.nombreLocal{
		grid-column-start: 2;
		grid-column-end: 5;
		grid-row-start: 2;
		grid-row-end: 3;
	}
	.direccionLocal{
		grid-column-start: 2;
		grid-column-end: 5;
		grid-row-start: 3;
		grid-row-end: 4;
		align-self: center;
	}
	.mapsLocal{
		grid-column-start: 2;
		grid-column-end: 5;
		grid-row-start: 4;
		grid-row-end: 5;
		align-self: center;
		transition: all 250ms;
		a{
			color: #f0cccc;
		}
		&:hover{
			transform: scale(1.1);
		}
	}
	.imagenLocal__img{
		grid-column-start:6;
		grid-column-end: 10;
		grid-row-start: 2;
		grid-row-end: 5;
		background-position: center;
		background-size: cover;
		box-sizing: border-box;
		border: 3px solid #f0cccc;
		transition: all 250ms cubic-bezier(.65,.05,.36,1);
		height: 100%;
		&.imagenLocal__img--1{
			background-image: url(../media/bar1.jpg);
		}
		&.imagenLocal__img--2{
			background-image: url(../media/bar2.jpg);
		}
		&.imagenLocal__img--3{
			background-image: url(../media/bar3.jpg);
		}
		&:hover{
			transform: scale(1.8) translate(-130px);
		}

	}
}


/**/
/*Contacto*/

.formulario{
	margin: 0 auto;
	margin-bottom: 100px;
	width: 500px;
	padding: 10px;
	background-color: #7b3737;
	border: $border2px;
	input, textarea{
		outline: none;
		width: 400px;
	}
	.formulario__texto{
		&.formulario__texto--title{
			font-size: 25px;
			font-weight: 700;
			margin-bottom: 20px;
		}
		&.formulario__texto--text{
			font-size: 18px;
			font-weight: 400;
		}
	}
	.field{
		padding: 2px;
		width: 450px;
		border: $border2px;
		border-color: #6a2727;
		transition: all 600ms;
		margin-bottom: 10px;
		&:focus{
			border: 2.5px solid #150909;
			box-shadow: none;
		}
	}
	.btn{
		border-radius: 3px;
		display: inline-block;
		outline: none;
		padding: 5px 4px;
		text-decoration: none;
		margin-bottom: 10px;
		&.btn__orange{
			color: black;
			background-color: #D57E40;
			&:hover{
				background-color: #B96D36;
			}
			&:active{
				background-color: #97572A;
			}
		}
	}
	p{
		margin-bottom: 3px;
	}
	.center-content{
		text-align: center;
	}
}
/**/

/*Preguntas Frecuentes*/

.accordion{
	padding-left: 40px;
	padding-right: 40px;
	.card{
		background-color: #C65050;
	}
}
.card-body{
	color: #fff;
}

button{
	&:focus:not(:focus-visible){
	box-shadow: none;
	}
	&:hover{
	color: red;
	}
}

.btn-link{
	color: #2d2a2a;
	&:hover, &:focus{
		color: #000;
		text-decoration: none;
		font-weight: 500;
	}

}


/**/

/*Footer*/

#footer{
	display: flex;
	padding: 35px 0 20px 20px;
	background-color: #1e1111;
	ul{
		li{
			list-style: none;
			transition: all 250ms;
			&:hover{
				transform: scale(1.1);
			}
			a{
				color: #f0cccc;
				text-decoration: none;

			}
		}
	} 
}
.redes{
	width: 84%;
	.redesList{
	display: flex;
	justify-content: right;
	}
	.fb{
	padding-left: 20px;
	padding-right: 20px;
	}
	li a img{
		width: 35px;
	}
}



dl, ol, ul{
	margin-bottom: 0rem;
}


/**/

@media all and (max-width: 576px){
	header nav.navbar div#navbarNav ul.navbar-nav li.nav-item a.nav-link{
		font-size: 1rem;
	}
	.navbar-expand-lg .navbar-collapse{
		padding-left: 23px !important;
	}

	.noticias{
		.noticia__texto.noticia__texto--text{
			font-size: 0.7rem !important;
		}
		.noticia__texto.noticia__texto--title{
			font-size: 1rem !important;
		}
	}	
	.contenedor{
		.titulo{
			font-size: 50px;
		}
		.nosotros__texto.nosotros__texto--text{
			font-size: 0.7rem !important;
		}
		.nosotros__texto.nosotros__texto--title{
			font-size: 1rem !important;
		}
		.contenedorImg img{
			max-width: 325px
		}
		.seleccionMenuGrid{
			grid-template-columns: repeat(1, 1fr);
			grid-template-rows: repeat(4, 1fr);
			margin: 0px 0px 20px 0px;
			width: 100%;
			a{
				padding: 10px 0px 10px 0px;
			}
		}
		.menuGrid10rows{
			width: 100%;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(16, 1fr);
			margin: 0px 0px 0px 0px;
			padding: 15px 5px 0px 5px;
			.menu__img{
				margin: 0px;
				&.menu__img--acomp1{
					grid-column-start: 1;
					grid-column-end: 3;
					grid-row-start: 1;
					grid-row-end: 4;
				}
				&.menu__img--acomp2{
					grid-column-start: 1;
					grid-column-end: 3;
					grid-row-start: 5;
					grid-row-end: 8;
				}
				&.menu__img--acomp3{
					grid-column-start: 1;
					grid-column-end: 3;
					grid-row-start: 9;
					grid-row-end: 12;
				}
				&.menu__img--acomp4{
					grid-column-start: 1;
					grid-column-end: 3;
					grid-row-start: 13;
					grid-row-end: 16;
				}
			}
		}
		.menu__nombre{
			&.menu__nombre--acomp1{
				grid-column-start: 1;
				grid-column-end: 3;
				grid-row-start: 4;
				grid-row-end: 5;
			}
			&.menu__nombre--acomp2{
				grid-column-start: 1;
				grid-column-end: 3;
				grid-row-start: 8;
				grid-row-end: 9;
			}
			&.menu__nombre--acomp3{
				grid-column-start: 1;
				grid-column-end: 3;
				grid-row-start: 12;
				grid-row-end: 13;
			}
			&.menu__nombre--acomp4{
				grid-column-start: 1;
				grid-column-end: 3;
				grid-row-start: 16;
				grid-row-end: 17;
			}





		}
		.menuGrid15rows{
			width: 100%;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat()
		}
		.formulario{
			width: 95%;
			.field{
				width: 100%;
			}
			.btn{
				width: 100%;
			}
		}
	}
	.redes{
		width: 45%;
	}
}
@media all and (max-width: 768px) and (min-width: 577px){
	header nav.navbar div#navbarNav ul.navbar-nav li.nav-item a.nav-link{
		font-size: 0.95rem;
	}
	.navbar-expand-lg .navbar-collapse{
	padding-left: 17px !important;
	}


	.contenedor{
		.titulo{
			font-size: 65px;
		}
		.noticias{
			.noticia__texto.noticia__texto--text{
				font-size: 0.9rem !important;
			}
			.noticia__texto.noticia__texto--title{
				font-size: 1rem !important;
			}
		}
		.localesGrid{
			.direccionLocal.locales__texto.locales__texto--text{
				font-size: 1.2rem;
			}
			.mapsLocal.locales__texto.locales__texto--text{
				font-size: 1.1rem;
			}
		}
		.nosotros__texto.nosotros__texto--text{
			font-size: 0.8rem !important;
		}
		.nosotros__texto.nosotros__texto--title{
			font-size: 1rem !important;
		}
		.contenedorImg img{
			max-width: 425px
		}
	}
	.redes{
		width: 74%;
	}
}


@media all and (max-width: 768px){
	.contenedor{
		margin: 10px;
		.titulo{
			padding: 25px 25px 0px 25px;
		}
		.localesGrid{
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(4, 2fr);
			min-height: 400px;
			padding: 10px 20px 10px 20px;
			text-align: center;
			.nombreLocal{
				grid-column-start: 1;
				grid-column-end: 3;
				grid-row-start: 1;
				grid-row-end: 2;
				display: flex;
				justify-content: center;
				align-items: center;
			}
			.direccionLocal{
				grid-column-start: 1;
				grid-column-end: 2;
				grid-row-start: 4;
				grid-row-end: 5;
				display: flex;
				justify-content: center;
				align-items: center;
			}
			.mapsLocal{
				grid-column-start: 2;
				grid-column-end: 3;
				grid-row-start: 4;
				grid-row-end: 5;
				align-self: center;
				display: flex;
				justify-content: center;
				align-items: center;
			}
			.imagenLocal__img{
				grid-column-start:1;
				grid-column-end: 3;
				grid-row-start: 2;
				grid-row-end: 4;
				background-position: center;
				background-size: cover;
				box-sizing: border-box;
				border: 3px solid #f0cccc;
				transition: all 250ms cubic-bezier(.65,.05,.36,1);
				height: 100%;
				&:hover{
				transform: scale(1.06);
				}
			}
		}
	}
	


	#footer{
		padding: 20px 0 20px 20px;
			.footerButtons ul li{
				padding: 3px 0px 3px 0px;
			}
			.redes{
				padding-top: 12px;
			}
	}
}



