$border2px: 2px solid black;

$whiteMenu: #b9b9b9;

$bgColor: (
	ColorRed: #A45D5D,
	ColorBlack: #333232
);
$bgGradient: (
	ColorYellow: linear-gradient(to bottom, #FFC069, #443219)
);

$fontW: (
	Light: 300,
	Regular: 400,
	Bold: 700
);
$fontC: (
	Main: #4A403A,
	White: #f0cccc,
	Red: #FF3C3C
);
